body, html {
	font-size: 12px;
	/*background: red;*/
}

#tabs {
	width: 100%;
	height: 400px;
}

.before,
.after {
	width: 300px;
	height: 300px;
}

/* Before and after slider */
#before-after {
	width: 300px;
	height: 300px;
	position: relative;
	top: 25px;
	margin: auto;
}

#before-after .before,
#before-after #mask {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #FFF; /* nedded for transparent SVG */
}

#before-after .before { 
	z-index: 50;
}
#before-after #mask {
	width: 150px;
	z-index: 100;
}

.slider {
	top: 320px;
}

/* Side by side */
#side-by-side {
	width: 900px;
	height: 300px;
	margin: 25px auto;
}

#side-by-side .before,
#side-by-side .after {
	float: left;
	margin-left: 100px;
}

/* opacity slider + toggle + blend diff */
#opacity,
#toggle,
#blend-diff,
#pippin-diff {
	width: 300px;
	height: 300px;
	position: relative; 
	top: 25px;
	margin: auto;
}

#opacity .before,
#opacity .after,
#toggle .before,
#toggle .after,
#blend-diff .before,
#blend-diff .after {
	position: absolute;
	top: 0;
	left: 0;
	/*overflow: hidden;*/
	border: solid 1px #808080;
}

#opacity .after {
	opacity: 0.5;
}

#toggle .after {
	visibility: visible;
}

#blend-diff .before,
#blend-diff .after {
	display: none;
}

#blend-diff #under,
#blend-diff #over,
#pippin-diff #pippinUnder,
#pippin-diff #pippinOver {
	width: 300px;
	height: 300px;
}


#blend-diff #under,
#blend-diff #over,
#pippin-diff #pippinUnder {
	display: none;
}

#svg-diff .json {
	border: solid 1px #CCC;
	width: 400px;
	height: 300px;
	overflow: auto;
	margin: 25px auto 0 100px;
	z-index: 50;
}

#svg-diff .jsondiffpatch-unchanged {
	display: none;
}

#svg-diff .before,
#svg-diff .after {
	position: absolute;
	top: 65px;
	left: 525px;
	border: solid 1px #808080;
	z-index: 55;
}

/* reset jquery ui styles */
.ui-tabs .ui-tabs-panel { padding: 0; }
.ui-widget-content { 
	border: none;
	background: transparent;
}


/* reset timeline styles */
#commit-timeline {
	font-family: sans-serif;
}

 .thumb img {
 	height: 40px;
 	border: solid 1px #97B0F8; /* color taken from time-line-event border */
 }

div.timeline-event-selected {
    background-color: transparent;
}

.th-before img { border: solid 1px #F00; }
.th-before div.timeline-event-dot { border-color: #F00; }

.th-after img { border: solid 1px #0F0; }
.th-after div.timeline-event-dot { border-color: #0F0; }

.thumb span {
	display: none;
}