body, html {
	font-size: 12px;
}

#tabs {
	width: 100%;
	height: 400px;
}

.before,
.after {
	width: 300px;
	height: 300px;
}

/* Before and after slider */
#before-after {
	width: 300px;
	height: 300px;
	position: relative;
	top: 25px;
	margin: auto;
}

#before-after .before,
#before-after .after {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#before-after .before { 
	z-index: 50;
}
#before-after .after {
	width: 150px;
	z-index: 100;
}

.slider {
	top: 320px;
}

/* Side by side */
#side-by-side {
	width: 900px;
	height: 300px;
	margin: 25px auto;
}

#side-by-side .before,
#side-by-side .after {
	float: left;
	margin-left: 100px;
}

/* opacity slider + toggle + blend diff */
#opacity, #toggle, #blend-diff {
	width: 300px;
	height: 300px;
	position: relative; 
	top: 25px;
	margin: auto;
}

#opacity .before,
#opacity .after,
#toggle .before,
#toggle .after,
#blend-diff .before,
#blend-diff .after {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#opacity .after {
	opacity: 0.5;
}

#toggle .after {
	visibility: visible;
}

#blend-diff .before,
#blend-diff .after {
	display: none;
}

#blend-diff #under,
#blend-diff #over  {
	width: 300px;
	height: 300px;
}


#blend-diff #over {
	display: none;
}

/* reset jquery ui styles */
.ui-tabs .ui-tabs-panel { padding: 0; }
.ui-widget-content { border: none;}

/* reset timeline styles */
 .thumb img {
 	height: 40px;
 }

.thumb span {
	display: none;
}